
<h1>
    {{#if previous}}
    <a href="/c/{{previous}}" class="pure-button previous-button">&lt;</a>
    {{/if}}
    {{#if next}}
    <a href="/c/{{next}}" class="pure-button next-button">&gt;</a>
    {{/if}}
    {{title}}
</h1>
<ul class="page-list">
    {{#each pages}}
    <li><img src="{{this}}" class="pure-img" alt="Page {{@index}}"/></li>
    {{/each}}
</ul>
<h1>
    {{#if previous}}
    <a href="/c/{{previous}}" class="pure-button previous-button">&lt;</a>
    {{/if}}
    {{#if next}}
    <a href="/c/{{next}}" class="pure-button next-button">&gt;</a>
    {{/if}}
    {{title}}
</h1>
<div class="arrow-left">
    &rarr;
</div>
<div class="arrow-right">
    &larr;
</div>

<script>
{{#coffee}}
{{#include}}webtoon.coffee{{/include}}
{{/coffee}}
</script>
